LogDir = /var/log

Output = stdout
Format = html

Range = {{ logwatch_range | default('since -7 days') }}
Service = All
Detail = Mid

Service = "-stunnel"
Service = "-sendmail"
Service = "-amavis"
Service = "-postfix"
